$dark-background: black;
$light-background: white;
$main-color: white;
$highlight-color: white;
$dim-color: darkgray;
// $link-color: rgba(255, 166, 0, 0.7);
$link-color: tan;
$location-color: lightblue;
$nice-color: rgb(146, 73, 73);

$bold-weight: 500;
$normal-weight: 400;

$large-font: 3em;
$medium-font: 1.5em;
$normal-font: 1em;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.dark-mode * {
    color: black !important;

    .authors,
    .authors b,
    .journal,
    .event * {
        color: rgb(61, 61, 61) !important;
    }
}


    .dark-mode img {
        filter: invert(1) hue-rotate(180deg) !important; /* Inverts the image colors */
    }

.dark-mode a {
    color: dodgerblue !important;
}

.dark-mode .menu-item {
    border-color: black !important;
    a {
    color: black !important;
    }
}

.dark-mode .download-button button {
    background: white !important;
    color: black !important;
    border: 1px solid black !important;
    a {
        color: black !important;
    }
}

.dark-mode {
    background-color: white;

    .main {
        background-color: white;
        // font-family: Arial, Helvetica, sans-serif;
        // .end {
        //     display: none;
        // }
    }
}

body {
    width: 96vw;
    background: $dark-background;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    

    #top-div {
        background-color: red;
        position: fixed;
        top: 10vh;
        left: 50vw;
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }

    .left-menu {
        position: fixed;
        left: 5vw;
        top: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50vh;
        width: 200px;
        // padding-right: 42px;
        // border-right: 1px solid $main-color;

        .menu-item {
            text-align: right;
            a {
                margin: 10px 0;
                padding-right: 20px;
                font-size: $medium-font;
                font-weight: $normal-weight;
                color: $main-color;
                cursor: pointer;
                transition: 0.3s;
                text-decoration: none;
            }

            &:hover {
                color: $highlight-color;
            }
        }

        .selected {
            color: $highlight-color;
            border-right: 2px solid $highlight-color;
        }
    }

    .buttons {
        position: fixed;
        right: 5vw;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80vh;
        .download-button {
            button {
                padding: 10px 20px;
                font-size: $medium-font;
                font-weight: 300;
                background: rgb(0, 0, 0, 0);
                color: $main-color;
                border: 1px solid $main-color;
                cursor: pointer;

                &:hover {
                    background: $dim-color;
                    color: black;
                }

                a {
                    color: $main-color;
                    text-decoration: none;
                }
            }
        }

        .theme-button {
            button {
                padding: 10px;
                background: rgb(0, 0, 0, 0);
                border: none;
                cursor: pointer;
                outline: none;

                #theme-icon {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }

    .main {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 42%;
        // padding-left: 50px;

        #summary-section {
            color: $main-color;
            padding: 22vh 100px 0vh 20px;
            display: flex;
            flex-direction: column;
            justify-content: left;

            .name-surname {
                color: $main-color;
                font-size: $large-font;
                font-weight: $bold-weight;
                display: flex;
                justify-content: left;
                .name {
                    color: $highlight-color;
                }
                .surname {
                    color: $highlight-color;
                    padding-left: 15px;
                }
            }

            ul {
                font-size: $medium-font;
                font-weight: $normal-weight;
                margin-bottom: 30px;
                text-align: justify;
                list-style-type: none; // Removes the default list markers
                padding: 0;
            }

            li {
                padding-left: 5px;
                margin-bottom: 10px;
                &:before {
                    content: ''; /* Removes the custom markers */
                }
            }

            .links {
                display: flex;
                justify-content: left;
                padding-bottom: 10px;
                // padding-right: 150px;
                img {
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                }

                a {
                    color: $link-color;
                    margin: 5px 5px;
                }
            }

            #down-arrow {
                width: 150px;
                height: 150px;
                margin-top: 180px;
                // margin-left: 10px;
                // align-self: center;
                // cursor: pointer;
            }
        }

        .section {
            margin: 0 0 100px 0px;
            color: $main-color;
            padding-left: 15px;
            padding-right: 15px;

            h1 {
                font-size: 2em;
                font-weight: $bold-weight;
                margin-bottom: 20px;
            }

            .publication-type {
                color: $highlight-color;
                font-weight: $normal-weight;
            }

            .item {
                margin: 10px 10px;
                color: $main-color;

                a {
                    color: $link-color;
                }

                .date {
                    float: right;
                }

                .position-title {
                    font-weight: $normal-weight;
                    font-size: larger;
                    color: $highlight-color;
                }

                .title {
                    width: 90%;
                    color: $main-color;
                }

                .authors {
                    width: 90%;
                    overflow-wrap: break-word;
                    color: $dim-color;
                }

                .journal {
                    width: 90%;
                    overflow-wrap: break-word;
                    color: $dim-color;
                }

                .location {
                    color: $location-color;
                    font-size: smaller;
                    opacity: 70%;
                }

                .event {
                    span {
                        color: $dim-color;
                    }
                }
            }

            .skills-tree {
                padding-inline-start: 28px;
                span {
                    color: $dim-color;
                }
                li {
                    font-size: larger;
                    color: $highlight-color;
                    margin: 10px 0px;
                    ul {
                        margin-bottom: 10px;

                        li {
                            font-size: medium;

                            color: $main-color;
                            ul {
                                margin-bottom: 0px;
                                li {
                                    font-size: smaller;
                                }
                                li::marker {
                                    content: '│      ├── ';
                                    letter-spacing: 0px;
                                }
                                li:last-child::marker {
                                    content: '│      └── ';
                                    letter-spacing: 0px;
                                }
                            }
                        }
                        li::marker {
                            content: '├── ';
                            color: rgba(129, 110, 81, 0.5);
                        }
                        li:last-child::marker {
                            content: '└── ';
                            color: rgba(129, 110, 81, 0.5);
                        }
                        li:last-child {
                            ul {
                                li::marker {
                                    content: '└── ';
                                    color: rgba(129, 110, 81, 0.5);
                                }
                            }
                        }
                    }
                }
                li::marker {
                    color: $main-color;
                }
            }
        }
        .end {
            align-self: center;
            color: $dim-color;
            opacity: 50%;
            margin: 70vh 0 50px 0;
            text-align: center;
        }
    }


}

img {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 1000px) {

    #summary-section {

        .name-surname {
            font-size: 2.5em !important;
        }
        ul {
            font-size: 1.25em !important;
        }
        // .links {
        //     img {
        //         width: 62px !important;
        //         height: 62px !important;
        //     }
        // }
        
    }


    body {
        text-wrap: wrap;
        word-break:normal;
    }


    .main {
        width: 100% !important;
        padding: 0;
        margin: 0;
        padding-right: 0;
    }
    .date {
        float: none !important;
    }

    .left-menu {
        display: none !important;
    }

    .buttons {
        display: none !important;
    }

    .end {
        align-self: center;
    }
}
