$main-color: whitesmoke;
$highlight-color: white;
$dim-color: darkgray;
// $link-color: rgba(255, 166, 0, 0.7);
$link-color: tan;
$location-color: lightblue;
$nice-color: rgb(146, 73, 73);

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.dark-mode * {
    color: black !important;

    .authors, .authors b, .journal, .event * {color: rgb(61, 61, 61) !important}
     
}

.dark-mode a {
    color: dodgerblue !important;
}


.dark-mode {
    background-color: white;
    
    .main {
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        .end {
            display: none;}
    }
}

body {
    background: rgb(37, 37, 37);
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .navbar {
        padding: 0px 5px;
        color: brown;
        display: flex;
        justify-content: flex-end;

        .toggle-switch {
            height: 10px;
            width: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $dim-color;
            margin: 2px;
            margin-bottom: 5px;
            border-radius: 50px;
            cursor: pointer;
            padding: 2px;
            // border: solid 1px rgba(126, 126, 126, 0.07);
            
            
            
        }

        .toggle-switch .toggle-knob {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: rgb(37, 37, 37); 
            
            border-radius: 10px;
            
            margin-left: 20px;
        }

        .toggle-switch.active .toggle-knob {
            background-color: rgb(233, 233, 233);
            
        }

        .toggle-switch.active .toggle-knob {
            margin-left: 0px;
        }
    }

    .main {
        background: rgba(80, 80, 80, 0.1);
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        min-height: 95vh;
        width: 700px;

        .name-surname {
            padding-top: 10px;
            color: $main-color;
            font-size: 3em;
            margin: 0 20px;
            display: flex;
            justify-content: center;
            .name {
                color: $highlight-color;
            }
            .surname {
                color: $highlight-color;
                padding-left: 15px;
                font-weight: 600;
            }
        }

        .contacts {
            color: $main-color;
            display: flex;
            justify-content: space-evenly;
            padding: 5px;
        }

        .links {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;

            a {
                color: $link-color;
                margin: 5px 10px;
            }
        }

        .section {
            margin: 0 20px;
            color: $main-color;

            .publication-type{
                color: $highlight-color;
                font-weight: bold;
            }

            .item {
                margin: 10px 10px;
                color: $main-color;

                a {
                    color: $link-color;
                }

                .date {
                    float: right;
                }

                .position-title {
                    font-weight: bold;
                    font-size: larger;
                    color: $highlight-color;
                }

              

                .title {
                    
                    width: 90%;
                    color: $main-color;
                }

                .authors {
                    width: 90%;
                    overflow-wrap: break-word;
                    color: $dim-color;
                }

                .journal {
                    width: 90%;
                    overflow-wrap: break-word;
                    color: $dim-color;
                }

                .location {
                    color: $location-color;
                    font-size: smaller;
                    opacity: 70%;
                }

                .event {
                    span {
                        color: $dim-color;
                    }
                }
            }

            .skills-tree {
                padding-inline-start: 28px;
                span {
                    color: $dim-color;
                }
                li {
                    font-size: larger;
                    font-weight: bold;
                    color: $highlight-color;
                    margin: 10px 0px;
                    ul {
                        margin-bottom: 10px;

                        li {
                            font-size: medium;

                            color: white;
                            font-weight: normal;
                            ul {
                                margin-bottom: 0px;
                                li {
                                    font-size: smaller;
                                }
                                li::marker {
                                    content: "│      ├── ";
                                    letter-spacing: 0px;
                                }
                                li:last-child::marker {
                                    content: "│      └── ";
                                    letter-spacing: 0px;
                                }
                            }
                        }
                        li::marker {
                            content: "├── ";
                            color: rgba(129, 110, 81, 0.5);
                        }
                        li:last-child::marker {
                            content: "└── ";
                            color: rgba(129, 110, 81, 0.5);
                        }
                        li:last-child {
                            ul {
                                li::marker {
                                    content: "└── ";
                                    color: rgba(129, 110, 81, 0.5);
                                }
                            }
                        }
                    }
                }
                li::marker {
                    color: $main-color;
                }
            }
        }

        .end {
            opacity: 50%;
            margin: 50px 0;
            text-align: center;
        }
    }
}

img {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 500px){
    
    

    .date {
        float: none !important; 
    }

}