@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
.dark-mode * {
  color: black !important;
}
.dark-mode * .authors,
.dark-mode * .authors b,
.dark-mode * .journal,
.dark-mode * .event * {
  color: rgb(61, 61, 61) !important;
}

.dark-mode img {
  filter: invert(1) hue-rotate(180deg) !important; /* Inverts the image colors */
}

.dark-mode a {
  color: dodgerblue !important;
}

.dark-mode .menu-item {
  border-color: black !important;
}
.dark-mode .menu-item a {
  color: black !important;
}

.dark-mode .download-button button {
  background: white !important;
  color: black !important;
  border: 1px solid black !important;
}
.dark-mode .download-button button a {
  color: black !important;
}

.dark-mode {
  background-color: white;
}
.dark-mode .main {
  background-color: white;
}

body {
  background: black;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
body #top-div {
  background-color: red;
  position: fixed;
  top: 10vh;
  left: 50vw;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
body .left-menu {
  position: fixed;
  left: 5vw;
  top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  width: 200px;
}
body .left-menu .menu-item {
  text-align: right;
}
body .left-menu .menu-item a {
  margin: 10px 0;
  padding-right: 20px;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
body .left-menu .menu-item:hover {
  color: white;
}
body .left-menu .selected {
  color: white;
  border-right: 2px solid white;
}
body .buttons {
  position: fixed;
  right: 5vw;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}
body .buttons .download-button button {
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 300;
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
body .buttons .download-button button:hover {
  background: darkgray;
  color: black;
}
body .buttons .download-button button a {
  color: white;
  text-decoration: none;
}
body .buttons .theme-button button {
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  outline: none;
}
body .buttons .theme-button button #theme-icon {
  width: 45px;
  height: 45px;
}
body .main {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 700px;
}
body .main #summary-section {
  color: white;
  padding: 22vh 100px 50vh 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
body .main #summary-section .name-surname {
  color: white;
  font-size: 3em;
  font-weight: 500;
  display: flex;
  justify-content: left;
}
body .main #summary-section .name-surname .name {
  color: white;
}
body .main #summary-section .name-surname .surname {
  color: white;
  padding-left: 15px;
}
body .main #summary-section ul {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: justify;
  list-style-type: none;
  padding: 0;
}
body .main #summary-section li {
  padding-left: 5px;
  margin-bottom: 10px;
}
body .main #summary-section li:before {
  content: ""; /* Removes the custom markers */
}
body .main #summary-section .links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-right: 150px;
}
body .main #summary-section .links img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
body .main #summary-section .links a {
  color: tan;
  margin: 5px 5px;
}
body .main .section {
  margin: 0 0 100px 0px;
  color: white;
}
body .main .section h1 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 20px;
}
body .main .section .publication-type {
  color: white;
  font-weight: 400;
}
body .main .section .item {
  margin: 10px 10px;
  color: white;
}
body .main .section .item a {
  color: tan;
}
body .main .section .item .date {
  float: right;
}
body .main .section .item .position-title {
  font-weight: 400;
  font-size: larger;
  color: white;
}
body .main .section .item .title {
  width: 90%;
  color: white;
}
body .main .section .item .authors {
  width: 90%;
  overflow-wrap: break-word;
  color: darkgray;
}
body .main .section .item .journal {
  width: 90%;
  overflow-wrap: break-word;
  color: darkgray;
}
body .main .section .item .location {
  color: lightblue;
  font-size: smaller;
  opacity: 70%;
}
body .main .section .item .event span {
  color: darkgray;
}
body .main .section .skills-tree {
  padding-inline-start: 28px;
}
body .main .section .skills-tree span {
  color: darkgray;
}
body .main .section .skills-tree li {
  font-size: larger;
  color: white;
  margin: 10px 0px;
}
body .main .section .skills-tree li ul {
  margin-bottom: 10px;
}
body .main .section .skills-tree li ul li {
  font-size: medium;
  color: white;
}
body .main .section .skills-tree li ul li ul {
  margin-bottom: 0px;
}
body .main .section .skills-tree li ul li ul li {
  font-size: smaller;
}
body .main .section .skills-tree li ul li ul li::marker {
  content: "│      ├── ";
  letter-spacing: 0px;
}
body .main .section .skills-tree li ul li ul li:last-child::marker {
  content: "│      └── ";
  letter-spacing: 0px;
}
body .main .section .skills-tree li ul li::marker {
  content: "├── ";
  color: rgba(129, 110, 81, 0.5);
}
body .main .section .skills-tree li ul li:last-child::marker {
  content: "└── ";
  color: rgba(129, 110, 81, 0.5);
}
body .main .section .skills-tree li ul li:last-child ul li::marker {
  content: "└── ";
  color: rgba(129, 110, 81, 0.5);
}
body .main .section .skills-tree li::marker {
  color: white;
}
body .main .end {
  opacity: 50%;
  margin: 70vh 0 50px 0;
  text-align: center;
}

img {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 500px) {
  .date {
    float: none !important;
  }
  .left-menu {
    display: none !important;
  }
  .buttons {
    display: none !important;
  }
}/*# sourceMappingURL=main.css.map */